
:root {
  --container: 1512px;


  --color-main: #1E1E1E;
  --color-light: #ffffff;
  --color-main-a80: #1e1e1ecc; 
  --color-main-a70: #1e1e1eb2; 
  --color-main-a50: #1e1e1e80; 
  
  --color-bg: var(--color-light);
  --color-text: var(--color-main);

  /* Borders */
  --border-default: 1px solid var(--color-main);
}

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-geist); 
  line-height: 1.5;
  background-color: var(--color-bg); 
  color: var(--color-text); 
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root,
#__next {
  isolation: isolate;
}