/* Hero  */

.hero {
  width: 100%;
  max-width: 1512px;
  margin-inline: auto;
  aspect-ratio: 1512 / 888;
  
  background-image: url("/images/hero_bg.png");
  background-size: cover; 
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  
  color: #eeefe9;
  text-align: center;
  padding-top: 321px; 
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 180px; 
}

.hero__text--main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__text--main h1 {
  font-size: 20px;
  font-weight: 500;
}

.hero__text--main p,
.hero__content > p {
  font-size: 20px;
  font-weight: 400;
}

/* Галерея */
.main__galery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  padding-block: 8px;
}

.main__galery li {
  min-width: 0;
}

.main__galery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Новинки та Бестселери */

.main__new,
.main__bestsellers {
  padding-top: 40px;
  padding-bottom: 80px;
}

.main__new--top,
.main__bestsellers--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 80px;
  margin-bottom: 40px;
}

.main__new--products,
.main__bestsellers--products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-inline: 40px;
}

/* Шрифти */
.sub_title {
  font-size: 14px;
  font-weight: 400;
}