
.container {
  max-width: var(--container);
  margin-inline: auto;
  width: 100%;
}

.new__breadcrumbs {
  margin-left: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.new__breadcrumbs ul {
  display: flex;
  gap: 2px;
}

.new__breadcrumbs li {
  display: flex;
  align-items: center;
  color: #1e1e1e80;
  font-size: 13px;
}

.new__breadcrumbs li:not(:last-child)::after {
  content: "/";
  font-size: 13px;
  color: #1e1e1e80;
  margin: 0 6px;
}

.new__search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  padding: 40px 0;
}

.new__search--rightside {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.new__search--form {
  display: flex;
  flex-direction: row-reverse;
  border: solid 1px #1e1e1e33;
}

.new__search--openfiltres {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 40px;
}

.new__search--all-items {
  padding-top: 40px;
  padding-bottom: 40px;
}

.new__search--all-items .all-items__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
