.product__card--info-favorite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 24px;
  margin-right: 20px;
}

.product__card--color {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 24px;
  padding-left: 20px;
}
