.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 80px;
}

.header__back{
    margin: 24.5px 80px 24.5px auto;
}

