.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 80px;
}

.header__menu {
  display: flex;
  gap: 81px;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
}

.header__navbar {
  display: flex;
  gap: 64px;
}

.header__navbar--btn {
  display: flex;
  gap: 10px;
}

.header__langbar {
  display: flex;
  gap: 10px;
}

.header__aktions {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}
