
/* Контейнер */
.container {
  max-width: var(--container);
  margin-inline: auto;
  width: 100%;
}

.order__info {
  display: flex;
  gap: 100px;
  padding-block: 40px 80px;
  margin-inline: 80px;
}

.order__info--leftside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 780;
  min-width: 0;
}

.order__info--rightside {
  flex: 472;
  min-width: 0;
}

/* Breadcrumbs */
.order__breadcrumbs {
  margin-left: 80px;
  padding-block: 18px;
}

.order__breadcrumbs ul {
  display: flex;
  gap: 2px;
}

.order__breadcrumbs li {
  display: flex;
  align-items: center;
  color: var(--color-main-a50);
  font-size: 13px;
}

.order__breadcrumbs li:not(:last-child)::after {
  content: "/";
  color: inherit;
  font-size: inherit;
  margin-inline: 6px;
}

/* Форми та інпути */
.input {
  width: 100%;
  border: var(--border-default);
}

.order__inputs-name-surname {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.order__contact--row {
  margin-top: 24px;
}
.order__contact--row p {
  margin-top: 8px;
}

.order__contact--double-row {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.order__contact--double-row > div {
  flex: 1;
}

.order__contact--chekboxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.order__contact--select,
.order__contact--postnumber {
  margin-top: 32px;
}

.order__info--rightside input {
  margin-top: 8px;
}

/* Кошик */
.order__cart--item {
  display: flex;
  gap: 24px;
  margin-block: 40px;
}

.order__cart--item img {
  height: auto;
  align-self: flex-start;
}

.order__cart--item-info {
  padding-top: 10px;
  flex: 1;
}

.order__cart--item-size {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-block: 10px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-main-a80);
}

.order__cart--item-color {
  display: flex;
  align-items: center;
  padding-bottom: 37px;
}

.order__cart--colour-text,
.order__cart--colour-text-second {
  font-size: 14px;
  font-weight: 400;
}

.order__cart--colour-text {
  margin-right: 16px;
  color: var(--color-main-a80);
}

.order__cart--colour-text-second {
  color: var(--color-main-a70);
}

.color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
  margin-right: 12px;
}

.order__cart--item-price {
  display: flex;
}

.final-price {
  margin-left: auto;
  margin-right: 10px;
}

.order__cart--item-number {
  display: flex;
  gap: 16px;
}

/* Summary */
.order__cart--summary {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
}

.summary__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order__cart--final-total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.order__cart--checkboxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
}

.order__cart--checkboxes a {
  font-weight: 500;
  text-decoration: underline;
}

.order__cart--btn {
  display: block;
  width: 100%;
  height: 45px;
  background-color: var(--color-main);
  color: var(--color-light);
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/* Текст */
.little__text {
  font-size: 14px;
  font-weight: 400;
}

.medium__text {
  font-size: 14px;
  font-weight: 500;
}

.regular__text {
  font-size: 16px;
  font-weight: 400;
}

.big__text {
  font-size: 20px;
  font-weight: 600;
}