
.container {
  max-width: var(--container);
  margin-inline: auto;
  width: 100%;
}

.order__info{
  display: flex;
  flex-direction: row;
}

.order__breadcrumbs {
  padding-top: 18px;
  padding-bottom: 18px;
}

.order__breadcrumbs ul {
  display: flex;
  gap: 2px;
}

.order__breadcrumbs li {
  display: flex;
  align-items: center;
  color: #1e1e1e80;
  font-size: 13px;
}

.order__breadcrumbs li:not(:last-child)::after {
  content: "/";
  font-size: 13px;
  color: #1e1e1e80;
  margin: 0 6px;
}

.order__info--leftside{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.order__inputs-name-surname {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.order__contact--double-row{
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.input{
  width: 100%;
  border: solid 1px #1E1E1E;
}

.order__contact--chekboxes{
  display: flex;
  flex-direction: column;
  gap: 12px;
}