
.container {
  max-width: var(--container);
  margin-inline: auto;
  width: 100%;
}

.product__breadcrumbs {
  margin-left: 80px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.product__breadcrumbs ul {
  display: flex;
  gap: 2px;
}

.product__breadcrumbs li {
  display: flex;
  align-items: center;
  color: #1e1e1e80;
  font-size: 13px;
}

.product__breadcrumbs li:not(:last-child)::after {
  content: "/";
  font-size: 13px;
  color: #1e1e1e80;
  margin: 0 6px;
}

.product__details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 8px;
}


.product__details--prw-photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 24px;
}

.product__details--prw-photo img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.product__infavorite--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  padding: 40px 0;
}

.product__infavorite {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 40px;
  padding-bottom: 50px;
  justify-content: center;
}

.product__info {
  display: flex;
  flex-direction: column;
  margin-left: 44px;
}

.product__info--name {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
}

.product__info--textinfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: solid 1px #e0e0e0;
}

.product__info--price-art {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.product__info--price {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.product__size--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product__size--buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.product__info--availability {
  margin-bottom: 32px;
  color: #1e1e1eb2;
}

.product__info--subtitle {
  size: 14px;
  color: #1e1e1eb2;
  font-weight: 400;
}

.product__order--btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product__order--btns button {
  width: 100%;
  height: 45px;
  cursor: pointer;
  border: 1px solid #1e1e1e;
  font-size: 16px;
  font-weight: 400;
}

.product__order--btn-black {
  background-color: #1e1e1e;
  color: #ffffff;
}

