.product {
  border-top: 1px solid #e0e0e0;
}

.product__breadcrumbs {
  margin-left: 80px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.product__breadcrumbs ul {
  display: flex;
  gap: 2px;
}

.product__breadcrumbs li {
  display: flex;
  align-items: center;
  color: #1e1e1e80;
  font-size: 13px;
}

.product__breadcrumbs li:not(:last-child)::after {
  content: "/";
  font-size: 13px;
  color: #1e1e1e80;
  margin: 0 6px;
}

.product__details {
  display: flex;
  flex-direction: row;
}


.product__details{
    margin: 20px 146.5px 8px 146.5px;
}

.product__details--prw-photo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 24px;
}

.product__details--prw-photo img{
    width: 100%;
    height: auto;   
    cursor: pointer;
}


.product__infavorite--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  padding: 40px 0;
  
}

.product__infavorite {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0 40px;
  padding-bottom: 50px;
}

.product__card--color{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
    margin-left: 20px;
}

.product__card--info-favorite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 24px;
  margin-right: 20px;
}